<div fxLayout="column" fxLayoutAlign="start center" class="player-stats-detail-wrapper">
  <mat-card class="content mat-elevation-z4">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-card-header>
        <img mat-card-avatar class="player-avatar" src="{{playerStats.iconUrl}}" alt="">
        <mat-card-title>{{playerName}}</mat-card-title>
        <mat-card-subtitle>{{playerStats.playerId}}</mat-card-subtitle>
      </mat-card-header>
      <div>
        <button mat-icon-button routerLink="/player-stats">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="General">
          <div class="tab-content" fxLayout="row" fxLayoutGap="8px">
            <div fxFlex="50">Deaths</div>
            <div fxFlex="50">{{playerStats.deathCount}}</div>
          </div>
        </mat-tab>
        <mat-tab label="Misc">
          <div fxLayout="column" fxLayoutAlign="start center" class="tab-content">Coming Soon</div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
