.number-generator-card {
  width: 80%;
  max-width: 300px;
}

.number-generator-card .mat-card-content {
  text-align: center;
}

mat-card-content {
  padding: 1em;
  margin: 0;
}

mat-card-footer {
  padding: 0.75em;
}
